* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/images.jpeg");
  background-size: cover;
  background-attachment: fixed;
  font-size: 30px;
}

.heading {
  text-align: center;
  width: 100%;
  margin: auto;
}

#head {
  font-size: 60px;
  color: #fff;
}

#subheader {
  font-size: 40px;
  margin-top: 10px;
  color: #fff;
}

#content1 {
  width: 90%;
  margin: auto;
  padding: 10px;
}

form {
  background-color: #00000080;
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 54%;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
  padding-bottom: 60px;
  color: white;
}

form .box {
  width: 98.5%;
  height: 5vh;
  position: relative;
  bottom: 10px;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
}

#option1 {
  width: 98.5%;
  position: relative;
  bottom: 10px;
  border-radius: 5px;
  border: 0;
  margin: 15px;
  font-size: 20px;
}

#option2 select {
  width: 98.5%;
  position: relative;
  align-content: start;
  bottom: 10px;
  border-radius: 5px;
  font-size: 20px;
  border: 0;
  margin: 15px 0 0 12px;
}

#content2 {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 4rem;
}

#content2 textarea {
  width: 98.5%;
  height: 125px;
  position: relative;
  bottom: 17px;
}

#head2 {
  width: 98.5%;
  margin: bottom 10px;
  height: 3vh;
  position: relative;
  bottom: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  top: 11px;
}

#head3 {
  padding: 50px;
  width: 100%;
  border-radius: 5px;
}

.submit {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.btn {
  padding: 20px;
  width: 100%;
  color: #fff;
  background-color: #37af65;
  font-size: 20px;
  border-radius: 10px;
}